<nav><span id = "teamname">FAI</span><a href="./"><span>Home</span></a><a href="./newAccount"><span>New Users</span></a></nav>
<div id= "login-container">
    <div id = "arthur-bkg"></div>
    <div id = "login-form">
        
        <div id = "form-msg">
            {{#if message}}
            <p>{{message}}</p>
            {{/if}}    
        </div>

        <div id = "form-inner">
            <h1>Login</h1>
            <form action="/app/login" method="POST">
                    <div class = "txtfield">
                        <input type="text" name="username" id="txtUsername" required>
                        <span></span>
                        <label for="txtUsername">Username</label>
                    </div>
                    <div class = "txtfield">
                        <input type="password" name="password" id="txtPassword" required>
                        <span></span>
                        <label for="txtPassword">Password</label>
                    </div>
                    <div id = "logsub">
                        <button type="submit">Login</button>
                    </div>
                </form>
            <br><div id = "logcrnew"><span>Or Create yours </span><a href="/newAccount"><span>Here</span></a></div>   
        </div>
         
    </div>
    
</div>